<div class="col-md-6">
	<form [formGroup]="loginForm">

		<div class="form-group">
			<label>Product Name</label>
			<input class="form-control" FormControlName="product_name" name="product_name" required />
      <div *ngIf="loginForm.get('product_name').invalid && loginForm.get('product_name').touched">Required</div>
</div>

			<div class="form-group">
				<label>Price</label>
				<input class="form-control" FormControlName="product_price" name="product_price" />
</div>

				<div class="form-group">
					<label>Description</label>
					<input class="form-control" FormControlName="product_desc" name="product_desc" />
</div>

					<button class="btn btn-primary">Submit</button>

	</form>
</div>