<br/>
<div class="col-md-6 offset-md-3">
	<h2>Login</h2>

<div class="alert alert-danger" *ngIf="flg">
 Invalid Username and Password
</div>

	<form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" autocomplete="off">

		<div class="form-group">
			<label>User Name</label>
			<input (ngModel)="name" class="form-control" formControlName="name" name="name" required #name />
			<div class="text text-danger text-right"
				*ngIf="loginForm.controls.name.touched && loginForm.controls.name.invalid">
				<!-- 		<div *ngIf="loginForm.controls.name.errors.maxlength"> Name should be 3 Char long </div> -->
			</div>
		</div>

		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" formControlName="password" name="password" />
</div>

			<button type="submit" class="btn btn-primary col-md-12" [disabled]="loginForm.invalid">Submit</button>

	</form>
	<!-- 	<a routerLink="">Reactive Form Using Form Builder >> </a><br/>
	<a routerLink="">Template driven Form >> </a> -->
</div>

<!-- unamePattern = "^[a-z0-9_-]{8,15}$";
  pwdPattern = "^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{6,12}$";
  mobnumPattern = "^((\\+91-?)|0)?[0-9]{10}$"; 
  emailPattern = "^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"; -->