<br/><div class="col-md-6 offset-md-3">
<h1>Form Builder </h1>
	<form [formGroup]="loginForm" autocomplete="off">

		<div class="form-group">
			<label>User Name</label>
			<input class="form-control" formControlName="product_name" name="product_name" required />
      <div class="text text-danger text-right" *ngIf="loginForm.get('product_name').touched && loginForm.get('product_name').invalid">
        <div *ngIf="loginForm.get('product_name').errors.required">Required</div>
        <div *ngIf="loginForm.get('product_name').errors.maxlength">Product name should be 5 digit long</div>
        <div *ngIf="loginForm.get('product_name').errors.minlength">Product name should be minimum 3 digit long</div>
        <div *ngIf="loginForm.get('product_name').errors.pattern">Product name should match with pattern</div>
        </div>
</div>

			<div class="form-group">
				<label>Password</label>
				<input class="form-control" formControlName="password" name="password" />
</div>

			<button class="btn btn-primary col-md-12" [disabled]="loginForm.invalid">Submit</button>

	</form>
<a routerLink="login">Reactive Form Using FormGroup >> </a>
</div>


<!-- unamePattern = "^[a-z0-9_-]{8,15}$";
  pwdPattern = "^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{6,12}$";
  mobnumPattern = "^((\\+91-?)|0)?[0-9]{10}$"; 
  emailPattern = "^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"; -->