<div class="container">
	<div class="row">
		<div class="col-md-8 offset-md-2">
	<!-- 	<div class="float-right"><a [routerLink]="['product']"><< Back to Product Page</a></div> -->
	<br/>
				<div class="col-md-12">
          	
					<div class="col-md-4 float-left"> <img [src]="filteredProduct.img" class="img-responsive" width="100%" /> </div>
					<div class="col-md-8 float-left"> 
              <div> {{filteredProduct.desc | titlecase}} </div> <br/>
              <div>Price -  {{filteredProduct.price | currency:'INR'}}</div>
              <div>{{filteredProduct.location.city}}</div>
          </div>
			</div>
		</div>
	</div>
</div>