<div class="container">
	<div class="row">
		<div class="col-mg-6 offset-md-3">
	<!-- 	<div class="float-right"><a [routerLink]="['product']"><< Back to Product Page</a></div> -->
	
				<div class="col-md-10 product-back">
          	<h3>{{filteredProduct.name}}</h3>
					<div class="col-md-4 float-left"> <img [src]="filteredProduct.img" class="img-responsive" width="200px" /> </div>
					<div class="col-md-8 float-left"> 
              <div> {{filteredProduct.desc}} </div>
              <div>Price -  {{filteredProduct.price | currency:'INR'}}</div>
              <div>{{filteredProduct.location.city}}</div>
          </div>
			</div>
		</div>
	</div>
</div>